###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/var/
/vendor/
/public/bundles/
.idea/
/node_modules/
###< symfony/framework-bundle ###

/config/routes/local/
/config/packages/local/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
sonar-reports
!sonar-reports/.gitignore
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
