includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    phpVersion: 80100
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - src
    level: 8
    parallel:
        processTimeout: 300.0
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false